<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="custom-text-container">
        <div class="bismillah">بِسْمِ اللَّهِ الرَّحْمَنِ الرَّحِيمِ</div>
        <div class="rabbizidni">﴾وَقُل رَّبِّ زِدْنِي عِلْمًا ۚ﴿</div>
        <div class="sadaqallah">صَدَقَ اللَّهُ الْعَظِيمُ</div>
    </div>
    <div class="auth-container">
        <div class="auth-box">
            <h1>Login</h1>
            <form action="{{ url_for('login') }}" method="POST">
                <div class="form-group">
                    <input type="text" name="username" placeholder="Username" required>
                </div>
                <div class="form-group">
                    <input type="password" name="password" placeholder="Password" required>
                </div>
                <button type="submit" class="btn-primary">Login</button>
            </form>
            <p>Don't have an account? <a href="{{ url_for('register') }}">Register here</a>.</p>
        </div>
    </div>
</body>
</html>